<h1>gifs, glorious gifs!</h1>

<table>
  <tr>
	<th>Moderated</th>
    <th>Url</th>    
  </tr>

<% @gifs.each do |gif| %>
  <tr>
	<td><% if(gif.moderated) %>Yes<% end %></td>
    <td><%= link_to "#{gif.url}", gif_path(gif) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gif', new_gif_path %>
